@charset "UTF-8";

.blog-entry {
    border: solid 3px hsl(0deg, 0%, 30%);
    border-radius: 1rem;
    padding: 1rem;
    width: clamp(300px, 50%, 100%);
    transition: background-color 0.3s linear;
    @media (prefers-color-scheme: dark) {
        border-color: hsl(0deg, 0%, 50%);
    }

    &:is(:active, :focus, :hover) {
        background-color: color-mix(in hsl, hsl(var(--background-color)), white 50%);
    }

    > div > small {
        width: auto;
    }
}

a:has(> .blog-entry):is(:active, :focus, :hover) {
    text-decoration: inherit;
}

.blog-metadata {
    justify-content: center;
    align-items: center;
}

.table-of-contents-container {
    border: solid 3px hsl(0deg, 0%, 30%);
    border-radius: 1rem;
    min-width: 25%;
    margin: 1rem;
    @media (prefers-color-scheme: dark) {
        border-color: hsl(0deg, 0%, 50%);
    }

    .table-of-contents-title {
        margin: 1rem;
        text-align: center;
    }

    .table-of-contents {
        margin: 1rem;

        li {
            margin: 0.5rem;

            &.h2 {
            }

            &.h3 {
                margin-left: 1rem;
            }

            &.h4 {
                margin-left: 2rem;
            }

            &.h5 {
                margin-left: 3rem;
            }
        }
    }
}
